* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#display{
  align-items: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
  border:1px solid black;
  width: 30%;
}

.buttons{
  display: grid;
  border-top: 1px solid #000000;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 30%;
}
.buttons > div {
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items:center;
}
.button{
  transition: 0,3s;
  border: none;
  height: 40px;
  background: #000;
  border: white;
  color: white;
  text-align: center;
}